{
	"apps": [{
		"name": "ghost",
		"max_memory_restart": "1024M",
		"log_date_format": "YYYY-MM-DD HH:mm:ss SSS",
		"script": "index.js",
		"out_file": "log/app.log",
		"error_file": "log/err.log",
	}]
}
